*.pbs
/lightning_logs/*
/expreiment_dump/*
/ckpt/*
/class_ckpt*/*
/log/*
/decoder_voxceleb*/*
/decoder_lrs2/*
/sparse_encoder_lrs2/*
/sparse_encoder_voxceleb*/*
*__pycache__*
*/*__pycache__*/*
conda_setup
/nms_utils/build/*
/nms_utils/dist/*
/nms_utils/nms_1d*/*
*.pkl
/*.pkl
*.pyc
/*.pyc
/**/*.pyc
/compute_flops.py
*.sh
select_files.py
logs/*
*.vscode/